.details {
  border: thin dashed green;
  margin: 1em;
  padding: 1em;
  width: 18em;
  position: relative;
  display: inline-block;
  text-align: left;
}

#name, #position {
  text-align: center;
}

#name {
  font-weight: bold;
}

#tid {
  float: right;
}


input, select {
  font-size: 100%;
  padding-left: 2px;
  text-align: right;
  padding-right: 4px;
  width: 100%;
}

.msg {
  color: white;
  font-size: 150%;
  position: absolute;
  /*opacity: 0.3;*/
  left: 2px;
  top: 3em;
  width: 98%;
  background-color: green;
  text-align: center;
}

.msg.canceled {
  color: white;
  background-color: red;
}
